.vscode/
.streamlit/

yolo11n.pt

data/
data-cropped/
data-finetune/

inference/inference_results/
inference/inference_results2/
inference/inference_results3/
inference/inference_results_f1/
inference/inference_results_f2/
inference/inference_results_f3/
inference/test1.mp4
inference/test2.mp4
inference/test3.mp4

weights/yolo11s_results/*
!weights/yolo11s_results/weights/
weights/yolo11s_finetune2/*
!weights/yolo11s_finetune2/weights/
weights/mobilenetv2_results/*
weights/mobilenetv2_test_results/*

*.jpg
*.JPG
*.jpeg
*.png
*.mp4
*.txt
!requirements.txt
!README.md
